
/*---------------------------------*/
/*				FONT FACE 	       */
/*---------------------------------*/

@font-face {
    font-family: 'Andale Mono';
    src: url('../fonts/andale mono/andale_mono-webfont.woff2') format('woff2'),
         url('../fonts/andale mono/andale_mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Arkitech Round Light';
    src: url('../fonts/arkitech/arkitech_round_light-webfont.woff2') format('woff2'),
         url('../fonts/arkitech/arkitech_round_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Andale Mono';
	src: url('../fonts/andale mono/Andale Mono.ttf');
}

@font-face {
	font-family: 'Arkitech Round Light';
	src: url('../fonts/arkitech/Arkitech_Round_Light.ttf');
}