html, body { 
	height: 100%;
	padding:0;
	margin:0;
	background: #efefef;
	color: #666;
	font:14px;
	font-family:'Century Gothic'}

strong{
	font:14px;
	font-family:"Century Gothic Bold"}

hr {
	display:block;
	width: 100%;
	height:1px;
	border:0;
	border-top:2px solid #00b6ed;
	margin-top:15px;
	padding:0}

body>section>header>h2{
	font:48px/1 "Arkitech Round Light";
	color:#333;
	text-transform:uppercase;
	letter-spacing:-1px;
	overflow:hidden}

body>section>header>h3{
	font:16px/1 'Century Gothic';
	color:#00b6ed;
	margin-top:10px;
	text-transform:uppercase;
	overflow:hidden}

body>section>header>h2>span,body>section>header>h3>span{
	display:block}

body>section>header>hr{
	margin:22px 0 64px 0;
	border-top:4px solid #00b6ed;
	background:#00b6ed;}


.part {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	padding: 20px;
}

.part>section>header>h2>span{
	color: #000;
	font:48px/1 "Arkitech Round Light";
}

.part>section>header>h3>span{
	font:30px/1 'Century Gothic';
}

.part:nth-child(odd) { 
	background: rgba(255,255,255, .95);}

		span { color: #00b6ed; }

/*---------------------------------*/
/*				HEADER	 	       */
/*---------------------------------*/

.shadow {
        border: 5px solid #fff;

        -moz-box-shadow: 1px 1px 12px #555; 

        -webkit-box-shadow: 1px 1px 12px #555; 

        box-shadow: 1px 1px 12px #555; 
      } 

#nav-header {
	vertical-align: middle;
	width: 100%;
	position:fixed;
	z-index:9000;
	margin:-510px auto;
}

#border-top1 {
	background-color:#00b6ed;
	height: 40px;
	position:relative;
	width: 100%;
	margin-top:510px;
}

#border-top1 p {
	text-align:left;
	font-size:14px;
	margin-left: 30px;
	color: #FFF;
	padding:10px;
	margin-top: 90px;
}

#reseaux {
	text-align:center;
	font-size:14px;
	color: #FFF;
	padding:15px;
	margin-top: -65px;
	margin-left: 250px;
}

#logo-r4ndom img {
	width:150px;
	position:absolute;
	padding:5px;
	margin:-2px 0 0 122px;
	cursor:pointer;
	z-index:999;
}

/*LOGIN*/

.login-btn1 {
	display:inline-block;
	outline:0;
	padding:10px 20px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:#fff;
	background-color:#00b6ed;
	cursor:not-allowed;
	margin-top:-59px;
	margin-right: 145px;
	font-size:16px;
	border:none;
}

.login-btn2 {
	display:inline-block;
	outline:0;
	padding:10px 20px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:#fff;
	background-color:#00b6ed;
	cursor:not-allowed;
	margin-top:-59px;
	font-size:16px;
	border:none;
}

.login-btn1:hover, .login-btn2:hover {
	background-color:#fff;
	color:#00b6ed;
}

.login .login-btn1, .login-btn2 {
	float:right;
}

.login-btn1 img, .login-btn2 img {
	float:left;
	height:20px; padding-right:10px; opacity: 0.3;
}

/*---------------------------------*/
/*				MENU	 	       */
/*---------------------------------*/

.ombrage3 {

        border: 5px solid #fff;

        -moz-box-shadow: 1px 1px 12px #555; 

        -webkit-box-shadow: 1px 1px 12px #555; 

        box-shadow: 1px 1px 12px #555; 
      } 

#navbar {
	width: 100%;
	height: 50px;
	background-color:#fefefe;
	padding:0;
	z-index:9;
	margin-top:0;
}

#navbar a {
	font-size:16px;
	font-family:"Century Gothic";
	color:#FFF;
}


#navbar ul {
	display:block;
	float:right;
	margin-top:25px;
}
#navbar li {
	text-align:center;
	display:block;
	float:left;
}

/***** SOUS MENU *****/
#menu {
	list-style-type: none;
	padding: 0;
	border: 0;
	position: relative;
	left: 0;
}

#menu li {
	float: left;
	width: 180px;
	padding: 0;
	border: 0;
}

#menu li a:link, #menu li a:visited {
	display: block;
	height: 1%;
	color: #333;
	padding: 15px 8px;
	margin-top:-22px;
	/*border-right: 1px solid #333;*/
	text-decoration: none;
}

#menu li a:hover {
	color:#00b6ed;
}
	
#menu .sousMenu {
	display: none;
	list-style-type: none;
	padding: 0;
	border: 0;
	margin-top: 0;
}

#menu .sousMenu li {
	float: none;
	margin: 0;
	padding: 0;
	width: 180px;
	border-top: 1px solid transparent;
}

#menu .sousMenu li a:link, #menu .sousMenu li a:visited {
	display: block;
	color: #00b6ed;
	margin: 0;
	border: 0;
	text-decoration: none;
	background-color:#333;
}

#menu .sousMenu li a:hover
{
	background-image: none;
	background-color: #00b6ed;
	color:#FFF;
}

#menu li:hover > .sousMenu { display: block; }

#menu li:before {
	content:"//";
	color:#333;
	display:block;
	float:left;
	margin-top:-8px;
}

#menu li:first-child:before {
    content: none;
}

#menu .sousMenu li:before {
	content: none;
}


/** LA CARTE **/
#carte{
	font-family: "Arkitech Round Light";}

#carte{
	position:relative;
	margin-top: 20px;}

#carte>header>p>span{background:transparent url(../img/icon-carte.png) no-repeat scroll center center}
		
#carte #first{margin-bottom:20px}

.carte-img{
	position:relative;
	margin-top: 50px;}


