wowslider-container1wowslider-container1wowslider-container1wowslider-container1wowslider-container1html,body,div,span,object,iframe,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent}

body {
	line-height:1;
}

html,body{
	background:#efefef;
	color:#666;
	font:14px;
	font-family:'Century Gothic';
	overflow-x:hidden}

strong{
	font:14px;
	font-family:"Century Gothic Bold";}

hr {
	display:block;
	width: 100%;
	height:1px;
	border:0;
	border-top:2px solid #00b6ed;
	margin-top:15px;
	padding:0}

body>section{
	position:relative;
	padding:63px 10px;
	margin:0 auto;
	width:990px;}


body>section>header>h2{
	font:48px/1 "Arkitech Round Light";
	color:#333;
	text-transform:uppercase;
	letter-spacing:-1px;
	overflow:hidden}

body>section>header>h3{
	font:18px/1 'Century Gothic';
	color:#00b6ed;
	margin-top:10px;
	text-transform:uppercase;
	overflow:hidden}

body>section>header>h4{
	font:12px/1 'Century Gothic';
	color:#333;
	margin-left:85px;
	margin-top:10px;
	text-transform:uppercase;
	overflow:hidden}

body>section>header>h2>span,body>section>header>h3>span,body>section>header>h4>span{
	display:block}

body>section>header>hr{
	margin:22px 0 64px 0;
	border-top:4px solid #00b6ed;
	background:#00b6ed;}

body>section>header>p{
	display:block;
	margin:3px 16px 0 0;
	width:63px;
	height:63px;
	border:solid #00b6ed;
	border-radius:64px;
	float:left}

body>section>header>p>span{
	width:100%;
	height:100%;
	display:block}




.home-container {
	/*width:1120px;*/
	height:200px;
	overflow:hidden;
	margin:0 auto;
	padding:40px 0;
	text-align:center;
	font:35px/1 "Century Gothic";
	line-height: 1.2;
	color:#FFFFFF;
	z-index:98;
	max-width:80%;
	/* position: absolute;*/}

.avis {
	width:100%;
	height:100%;
	display:block}

/*---------------------------------*/
/*				HEADER	 	       */
/*---------------------------------*/

#nav-header {
	vertical-align: middle;
	width: 100%;
	position:fixed;
	z-index:9000;
	margin:-510px auto;
}

#border-top1 {
	background-color:#00b6ed;
	height: 40px;
	position:relative;
	width: 100%;
	margin-top:510px;
}

#border-top1 p {
	text-align:left;
	font-size:14px;
	margin-left: 30px;
	color: #FFF;
	padding:10px;
	margin-top: 90px;
}

#reseaux {
	text-align:center;
	font-size:14px;
	color: #FFF;
	padding:15px;
	margin-top: -50px;
	margin-left: 250px;
}

#logo-r4ndom img {
	width:150px;
	position:absolute;
	padding:5px;
	margin:-8px 0 0 122px;
	cursor:pointer;
	z-index:999;
}

/*LOGIN*/

.login-btn1 {
	display:inline-block;
	outline:0;
	padding:10px 20px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:#fff;
	background-color:#00b6ed;
	cursor:not-allowed;
	margin-top:-166px;
	margin-right: 145px;
	font-size:16px;
	border:none;
}

.login-btn2 {
	display:inline-block;
	outline:0;
	padding:10px 20px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:#fff;
	background-color:#00b6ed;
	cursor:not-allowed;
	margin-top:-166px;
	font-size:16px;
	border:none;
}

.login-btn1:hover, .login-btn2:hover {
	background-color:#fff;
	color:#00b6ed;
}

.login .login-btn1, .login-btn2 {
	float:right;
}

.login-btn1 img, .login-btn2 img {
	float:left;
	height:20px; padding-right:10px; opacity: 0.3;
}

/*---------------------------------*/
/*				MENU	 	       */
/*---------------------------------*/

#navbar {
	width: 100%;
	height: 50px;
	background-color:#fefefe;
	padding:0;
	z-index:9;
	margin-top:0;
}

#navbar a {
	font-size:16px;
	font-family:"Century Gothic";
	color:#FFF;
}


#navbar ul {
	display:block;
	float:right;
	padding:25px;
}
#navbar li {
	text-align:center;
	display:block;
	float:left;
}

/***** SOUS MENU *****/
#menu {
	list-style-type: none;
	padding: 0;
	border: 0;
	position: relative;
	left: 0;
}

#menu li {
	float: left;
	width: 180px;
	padding: 0;
	border: 0;
}

#menu li a:link, #menu li a:visited {
	display: block;
	height: 1%;
	color: #333;
	padding: 15px 8px;
	margin-top:-22px;
	/*border-right: 1px solid #333;*/
	text-decoration: none;
}

#menu li a:hover {
	color:#00b6ed;
}
	
#menu .sousMenu {
	display: none;
	list-style-type: none;
	padding: 0;
	border: 0;
	margin-top: 0;
}

#menu .sousMenu li {
	float: none;
	margin: 0;
	padding: 0;
	width: 180px;
	border-top: 1px solid transparent;
}

#menu .sousMenu li a:link, #menu .sousMenu li a:visited {
	display: block;
	color: #00b6ed;
	margin: 0;
	border: 0;
	text-decoration: none;
	background-color:#333;
}

#menu .sousMenu li a:hover
{
	background-image: none;
	background-color: #00b6ed;
	color:#FFF;
}

#menu li:hover > .sousMenu { display: block; }

#menu li:before {
	content:"//";
	color:#333;
	display:block;
	float:left;
	margin-top:-8px;
}

#menu li:first-child:before {
    content: none;
}

#menu .sousMenu li:before {
	content: none;
}



/** LA CARTE **/

.zone {
	background-color:#333;}

#carte{
	position:relative;
	margin-top: 20px;}

#carte>header>p>span{background:transparent url(../img/icon-carte.png) no-repeat scroll center center}
		
#carte #first{margin-bottom:20px}

.carte-img{
	position:relative;
	margin-top: 50px;}

/** LA TEAM **/

#bg_team{position:relative}
#team{position:relative}

#team>header>p>span{background:transparent url(../img/icon-team.png) no-repeat scroll center center}


/** LE CONCEPT **/

#concept{
	position:relative;
}

#concept>header>p>span{
	background:transparent url(../img/icon-concept.png) no-repeat scroll center center;
}

#concept>section>section{
	position:relative;
	text-align: center;
	margin-bottom:32px;
	width:30%;
}

#concept>section>section>header{font:24px/1 "Century Gothic";color:#00b6ed;}
#concept>section>section>article>p{font:14px/1.7 "Century Gothic";padding-bottom:36px; color:#000;}
#concept>section>section>article>p>strong{font:14px/1.7; font-family:"Century Gothic"; font-weight:bold;color:#000;}
#concept>section>section>hr{margin:17px 0;border-top:0 solid #00b6ed;background:#00b6ed;}
#concept>section>section>div{position:absolute;border:6px solid rgba(255, 255, 255, .2)}

#concept #firstConcept #firstCircle1{
	top:0;
	left:517px;
	width:420px;
	height:420px;
	border-radius:420px;
	background:transparent url(../img/photos/6.jpg) no-repeat scroll center center;
	z-index:11}
	
#concept #firstConcept #firstCircle2{
	top:270px;
	left:740px;
	width:207px;
	height:207px;
	border-radius:207px;
	background:transparent url(../img/photos/7.jpg) no-repeat scroll center center;
	z-index:12}
	
#concept #firstConcept #firstCircle3{
	top:290px;
	left:530px;
	width:153px;
	height:153px;
	border-radius:153px;
	background:transparent url(../img/photos/4.jpg) no-repeat scroll center center;
	z-index:13}
	
#concept #secondConcept{margin-left:50%}

#concept #secondConcept #secondCircle1{
	top:0;
	left:-484px;
	width:427px;
	height:427px;
	border-radius:427px;
	background:transparent url(../img/photos/5.jpg) no-repeat scroll center center;
	z-index:11}
	
#concept #secondConcept #secondCircle2{
	top:280px;
	left:-275px;
	width:217px;
	height:217px;
	border-radius:217px;
	background:transparent url(../img/photos/3.jpg) no-repeat scroll center center;
	z-index:12}
	
#concept #thirdConcept{margin-bottom:0}

#concept #thirdConcept #thirdCircle1{
	top:0;
	left:523px;
	width:425px;
	height:425px;
	border-radius:425px;
	background:transparent url(../img/photos/1.jpg) no-repeat scroll center center;
	z-index:11}
	
#concept #thirdConcept #thirdCircle2{
	top:320px;
	left:523px;
	width:230px;
	height:230px;
	border-radius:230px;
	background:transparent url(../img/photos/2.jpg) no-repeat scroll center center;
	z-index:12}


/**CONSOLES ET JEUX**/

#consoles{position:relative;
height: 500px}

#consoles>header>p>span {
	background:transparent url(../img/icon-consoles.png) no-repeat scroll center center}

#jeux {
	margin-bottom:300px}

.item {
	width:100px;
	height:100px;	
	margin-top:40px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	border-radius:5px;
	overflow:hidden;
	position:relative;
	float:left}

.images-item {
	border:0;
	position:relative}

/** LES PHOTOS **/

#photos{position:relative;
height: 1200px}

#photos>header>p>span{background:transparent url(../img/icon-photos.png) no-repeat scroll center center}

.miniatures {height: 100%}

/** LES NEWS **/

#news{
	position:relative;}

#news>header>p>span{background:transparent url(../img/icon-news.png) no-repeat scroll center center}

/** CONTACTS **/

#contact{
	position:relative;
	margin-top: 20px;}

#contact>header>p>span{background:transparent url(../img/icon-contacts.png) no-repeat scroll center center}

#plan{
	float: left;
	position:relative;
	padding-right:20px;}

#adress{
	position:relative;
	vertical-align: middle;
	padding: 30px;}

.picto-adress>p>img{
	float: left;
	padding:0 20px;}

.picto-adress>h1{
	text-decoration: none;
	font-size:20px;
	text-align: left;;
	color:#333;}

/*.picto-adress>p{
	text-decoration: none;
	margin:0 100px;
	padding:0 80px;
	color:#333;}*/

/** FOOTER **/
