@charset "UTF-8";
/* CSS Document */

/*---------------------------------*/
/*				GENERAL	 	       */
/*---------------------------------*/

body {
	background-color:#eee;
	padding:0;
	margin:0;
}

p {
	text-decoration:none;
	
}

* {
	padding:0;
	margin:0;
	font-family:Century Gothic;
	outline:0;
	border: none;
}

lien:focus {
	outline:0;
	border: none;
}

a img {
	border: none;
}

.container {
	font-size: 10px;
	font-family: 'Century Gothic';
	font-weight: normal;
	font-style: normal;
	width: 1200px;
	min-height: 100%;
	cursor:default;
	overflow:hidden;
	text-align:center;
}

/*---------------------------------*/
/*				HEADER	 	       */
/*---------------------------------*/

#nav-header {
	width: 100%;
	position:fixed;
	z-index:99999;
	margin:-510px auto;
}

#border-top1 {
	background-color:#00b6ed;
	position:relative;
	width: 100%;
	height: 30px;
	margin-top:510px;
}

#border-top1 p {
	text-align:left;
	font-size:14px;
	margin-left: 20px;
	color: #FFF;
	padding:5px;
}

#border-top3 {
	background-color:#00b6ed;
	width: 100%;
	height: 1px;
	z-index:1;
}

#logo-r4ndom img {
	width:280px;
	position:absolute;
	padding:0;
	margin:-14px 0 0 122px;
	cursor:pointer;
	z-index:999;
}

/*LOGOS RESEAUX*/

#logos-reseaux {
	border: 1px solid;
	border-color:#333;
    border-radius: 5px;	
	padding:0px;
	float:right;
	margin-right: 20px;
	margin-top:100px;
}

#logos-reseaux ul {
	list-style-type:none;
	line-height: 0;
}

#logos-reseaux li {
	list-style-type:none;
	line-height: 0;
	border-bottom: 1px solid;
	border-bottom-color:#333;
}

/*LOGIN*/

.login-btn {
	display:inline-block;
	outline:0;
	padding:6px 20px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:#fff;
	background-color:#00b6ed;
	cursor:not-allowed;
	margin-top:-29px;
	font-size:16px;
}

.login-btn:hover {
	background-color:#fff;
	color:#00b6ed;
}

.login .login-btn {
	float:right;
}

.login-btn img {
	float:left;
	height:20px; padding-right:10px; opacity:0.3;
}

/*---------------------------------*/
/*				MENU	 	       */
/*---------------------------------*/

#navbar {
	width: 100%;
	height: 80px;
	background-color:#fefefe;
	padding:0px;
	z-index:9;
}

#navbar a {
	font-size:16px;
	font-family:"Century Gothic";
	color:#FFF;
}


#navbar ul {
	display:block;
	float:right;
	padding:25px;
}
#navbar li {
	text-align:center;
	display:block;
	float:left;
}

/***** SOUS MENU *****/
#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
	left: 0;
}

#menu li {
	float: left;
	width: 180px;
	margin: 0;
	padding: 0;
	border: 0;
}

#menu li a:link, #menu li a:visited {
	display: block;
	height: 1%;
	color: #333;
	margin: 0;
	padding: 8px 8px;
	/*border-right: 1px solid #333;*/
	text-decoration: none;
}

#menu li a:hover {
	color:#00b6ed;
}
	
#menu .sousMenu {
	display: none;
	list-style-type: none;
	padding: 0;
	border: 0;
	margin-top:18px;
}

#menu .sousMenu li {
	float: none;
	margin: 0;
	padding: 0;
	width: 180px;
	border-top: 1px solid transparent;
}

#menu .sousMenu li a:link, #menu .sousMenu li a:visited {
	display: block;
	color: #00b6ed;
	margin: 0;
	border: 0;
	text-decoration: none;
	background-color:#333;
}

#menu .sousMenu li a:hover
{
	background-image: none;
	background-color: #00b6ed;
	color:#FFF;
}

#menu li:hover > .sousMenu { display: block; }

#menu li:before {
	content:"//";
	color:#333;
	display:block;
	float:left;
	margin-top:10px;
}

#menu li:before {
	content:"//";
}


#menu .sousMenu li:before {
	content: "";
}


/*---------------------------------*/
/*		      CONTENU    	       */
/*---------------------------------*/

#carte {
	margin:500px auto;
	text-align:center;
}